.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/misc.xml
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/vcs.xml
!.idea/spotless-applier.xml
.project
.settings
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/
bin/
.vscode/
null-ignored.json
dump/
python/
.env
target/
!.mvn/wrapper/maven-wrapper.jar
application-local.yml
